.u-section-1 {
  background-image: url("images/2caae017a61202f87bc36fab57e85a63.png");
  background-position: 100% 0%;
}

.u-section-1 .u-sheet-1 {
  min-height: 803px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 550px;
  margin: 75px auto 0;
}

.u-section-1 .u-form-1 {
  width: 570px;
  margin: 15px auto 60px;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 662px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 507px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 177px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1135px;
  margin: 0 0 10px auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 170px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 53px auto 0 5px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  margin: -64px 121px 0 96px;
}

.u-section-2 .u-text-2 {
  font-size: 0.875rem;
  margin: 0 5px 0 96px;
}

.u-section-2 .u-layout-cell-2 {
  background-image: none;
  min-height: 176px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 44px auto 0 96px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: -55px 75px 0 180px;
}

.u-section-2 .u-text-4 {
  font-size: 0.875rem;
  margin: 0 38px 0 180px;
}

.u-section-2 .u-layout-cell-3 {
  background-image: none;
  min-height: 176px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 52px auto 0 41px;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  margin: -63px 107px 0 130px;
}

.u-section-2 .u-text-6 {
  font-size: 0.875rem;
  margin: 0 46px 0 130px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 170px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 47px;
  width: 47px;
  margin: 0 auto 0 20px;
}

.u-section-2 .u-icon-5 {
  height: 47px;
  width: 47px;
  margin: 15px auto 0 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 209px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 175px;
  }

  .u-section-2 .u-icon-1 {
    position: relative;
    margin-left: 16px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-right: 41px;
    margin-left: 89px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-right: 41px;
    margin-left: 89px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 175px;
  }

  .u-section-2 .u-icon-2 {
    position: relative;
    margin-left: 16px;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    margin-right: 41px;
    margin-left: 89px;
  }

  .u-section-2 .u-text-4 {
    position: relative;
    margin-right: 41px;
    margin-left: 89px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 175px;
  }

  .u-section-2 .u-icon-3 {
    position: relative;
    margin-left: 16px;
  }

  .u-section-2 .u-text-5 {
    position: relative;
    margin-right: 41px;
    margin-left: 89px;
  }

  .u-section-2 .u-text-6 {
    position: relative;
    margin-right: 41px;
    margin-left: 89px;
    width: 140px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 141px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 140px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 13px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 7px;
    margin-left: 100px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 13px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 52px;
    margin-left: 100px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 15px;
    margin-left: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 13px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 7px;
    margin-left: 100px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 34px;
    margin-left: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 108px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 240px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 163px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 9px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 24px;
    margin-left: 113px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 24px;
    margin-left: 113px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 163px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 9px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 24px;
    margin-left: 113px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 24px;
    margin-left: 113px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 163px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 9px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 24px;
    margin-left: 113px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 24px;
    margin-left: 113px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 324px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 6px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 15px;
    margin-left: 102px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 15px;
    margin-left: 102px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 6px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 15px;
    margin-left: 102px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 15px;
    margin-left: 102px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 6px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 15px;
    margin-left: 102px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 15px;
    margin-left: 102px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 204px;
  }
}